@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/new-booking-view.css');
@import url('./views/shipping-order-view.css');
@import url('./views/b-l-manager-view.css');
@import url('./views/view-shipments-view.css');
@import url('./views/finances-view.css');
@import url('./views/data-configuration-view.css');
@import url('./views/chat-view.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
      --lumo-base-color: rgb(242, 241, 232 );
      --lumo-shade: rgb(5, 5, 51);
      --lumo-shade-5pct: rgba(5, 5, 51, 0.05);
      --lumo-shade-10pct: rgba(5, 5, 51, 0.1);
      --lumo-shade-20pct: rgba(5, 5, 51, 0.2);
      --lumo-shade-30pct: rgba(5, 5, 51, 0.3);
      --lumo-shade-40pct: rgba(5, 5, 51, 0.4);
      --lumo-shade-50pct: rgba(5, 5, 51, 0.5);
      --lumo-shade-60pct: rgba(5, 5, 51, 0.6);
      --lumo-shade-70pct: rgba(5, 5, 51, 0.7);
      --lumo-shade-80pct: rgba(5, 5, 51, 0.8);
      --lumo-shade-90pct: rgba(5, 5, 51, 0.9);
      --lumo-primary-color: rgb(5, 5, 51);
      --lumo-primary-color-50pct: rgba(5, 5, 51, 0.5);
      --lumo-primary-color-10pct: rgba(5, 5, 51, 0.1);
      --lumo-success-color: rgb(144, 173, 198);
      --lumo-success-color-50pct: rgba(144, 173, 198, 0.5);
      --lumo-success-color-10pct: rgba(144, 173, 198, 0.1);
      --lumo-error-color: rgb(227, 66, 52);
      --lumo-error-color-50pct: rgba(227, 66, 52, 0.5);
      --lumo-error-color-10pct: rgba(227, 66, 52, 0.1);
      --lumo-body-text-color: rgb(5, 5, 51);
      --lumo-primary-text-color: rgb(13, 105, 139);
      --lumo-error-text-color: rgb(227, 66, 52);
      --lumo-success-text-color: rgb(5, 5, 51);
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-font-family: Barlow;

    }
